<% layout ('layouts/boilerplate') %>

<div id="cluster-map" style="width:100%; height: 500px"></div>

</body>
</html>

     <div class="container">
        <div class="row mt-5">
    <% for (let camp of campgrounds) { %>
       
        <div class="card  col m-3 c" style="padding: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 700;" >
            <div class="col">
                    <img class="img-fluid" src=<%=camp.images[0].url%> alt="campground-img" style="height:300px">
                <div class="col text-center ">
                    <div class="card-body">
                        <h5 class="card-title " style="font-weight: bold;">

                            <%=camp.title%>

                        </h5>
                        <p class="class-text text-muted">
                            <%= camp.location %>
                        </p>
                        <a class="btn btn-dark d-flex text-center justify-content-center" href="campgrounds/<%= camp._id %>" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500;">View <%= camp.title%></a>
                    </div>
                </div>
            </div>
        </div>
      
        <% } %>
        </div>
          </div>
<script> 
const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/js/clusterMap.js"></script>
